@font-face {
    font-family: "significant";
    src: url(/fonts//fonts/significant.otf.);
    src: local("/fonts/significant.otf"),
    url("/fonts/significant.otf") format("truetype"),
    url("/fonts/significant.otf.svg") format("svg"),
    url("/fonts/significant.otf.woff") format("woff"),
    url("/fonts/significant.otf.woff2") format("woff2"),
    url("/fonts/significant.otf.otf") format("opentype"),
    url("/fonts/significant.otf.eot") format("embeded-opentype");
    font-weight: normal;
    font-style: normal;
}
a:-webkit-any-link {
    color: black;
    text-decoration: none;
}
div.top {
    position: sticky;
    width: 100%;
    height: 75px;
    z-index: 2;
    top: 0;
}
div.top-bar {
    position: relative;
    top: 0px;
    height: 60px;
    background-color: black;
}
div.shadow {
    width: 95%;
    height: 15px;
    position: relative;
    background-image: -webkit-linear-gradient(rgba(0,0,0,.3), rgba(255,255,255,0),rgba(255,255,255,0));/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.1),rgba(255,255,255,.045), rgba(255,255,255,0));/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}
div.tr div.img {
    background-image: url(/images/turk-bayragi.png);
    background-position: -2px;
}
div.en div.img {
    background-image: url(/images/indir.png);
    background-position: -10px;
}
@media (max-width: 625px) {
    html, body{
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: relative;
    }
    .main {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: 	black;
    }
    label.menu {
        width: 65px;
        height: 50px;
        display: block;
        position: absolute;
        z-index: 4;
        transition: 300ms width;
    }
    div.button {
        display: block;
        width: 45px;
        height: 40px;
        top: 10px;
        right: 0px;
        background-color: none;
        position: absolute;
        z-index: 5;
        transition: 300ms all;
    }
    div.button span, span::before, span::after{
        transition: 120ms all;
        content: '';
        display: block;
        height: 8px;
        width: 100%;
        background: whitesmoke;
    }
    div.button span {
        border-radius: 5px;
        transform: translateY(16px);
    }
    div.button span::before {
        position: absolute;
        bottom: 16px;
        border-radius: 5px;
    }
    div.button span::after {
        position: absolute;
        top: 16px;
        border-radius: 5px;
    }
    .content {
        width: 0;
        height: 500px;
        justify-content: center;
        background-color: 	black;
        color: whitesmoke;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 3;
        transition: 300ms width;
        visibility: hidden;
    }.content div div h2{
        margin: 0;
        position: absolute;
        left: 20px;
        top: 7px;
    }.content .header{
        display: flex;
        width: 100%;
        height: 15%;
        align-items: center;
        position: relative;
    }.content .history , .markets, .contact{
        display: flex;
        width: 100%;
        height: 10%;
        align-items: center;
        justify-content: center;
        position: relative;
    }.content .header .logo{
        height:55px;
        width: 55px;
        margin: 10px;
        background-image: url(/images/logo.svg);
        background-color: whitesmoke;
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: border-box;
    }.content .history .h2{
        position: absolute;
        top: 10px;
        font-size: 24px;
        font-style: bold;
        font-weight: 700;
    }.content .markets .h2{
        position: absolute;
        top: 10px;
        font-size: 24px;
        font-style: bold;
        font-weight: 700;
    }.content .contact .h2{
        position: absolute;
        top: 10px;
        font-size: 24px;
        font-style: bold;
        font-weight: 700;
    }.content div p{
        margin: 0;
        position: absolute;
        bottom: 7px;
        left: 20px;
        visibility: hidden;
    }.p a{
        margin: 0;
        position: absolute;
        bottom: 7px;
        left: 20px;
        visibility: hidden;
        color: whitesmoke;
    }
    .content .history:hover,.contact:hover {
        height: 15%;
    }
    .content .markets:hover{
        height: 20%;
    }
    .content div:hover p{
        visibility: visible;
    }.content div:hover a{
        visibility: visible;
    }
    div.row-line {
        position: relative;
        width: 100%;
        background-color: rgba(255, 255, 255, .3);
        height: 1px;
    }
    .address:hover address {
        visibility: visible;
    }
    input#menu-toggle {
        display: none;
    }
    #menu-toggle:checked + .menu .button span {
        background: transparent;
        transition: 200ms all;
    }
    #menu-toggle:checked + .menu .button span::before {
        transform: rotate(45deg);
        bottom: 0;
    }
    #menu-toggle:checked + .menu .button span::after{
        transform: rotate(-45deg);
        top: 0;
    }
    input#menu-toggle:checked + label.menu {
        width: 85%;
        height: 0;
    }
    input#menu-toggle:checked + label.menu + div.content{
        visibility: visible;
        width: 85%;
    }
    input#menu-toggle:checked + label.menu div.button {
        top: 10px;
        right: 10px;
    }
    .mark {
        display: grid;
        grid-template-columns: 35% 10% 70%;
        position: absolute;
        left: 50%;
        top: 7.5px;
        font-size: 25px;
        font-weight: 700;
        line-height: 45px;    
        transform: translate(-50%);
    }.mark .logo{
        width: 45px;
        height: 45px;
        background-image: url(/images/logo.svg);
        background-color: whitesmoke;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .logo, .mark-name {
        background-color: none;
        color: whitesmoke;
    }
    .select-language {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        width: 75px;
        height: 45px;
        background-color: white;
        border: none;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 700;
        right: 7.5px;
        top: 7.5px;
        transition: .15s height;
    }
    div.tr, div.en  {
        display: flex;
        align-items: center;
        color: black;
        height: 40px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
    }
    div.en {
        display: none;
    }
    a.en {
        display: none;
        position: absolute;
        width: 70px;
        height: 42.5px;
        top: 45px;
        color: black;
    }
    .select-language:hover {
        height: 90px;
    }
    .select-language:hover div.en{
        display: flex;
        position: relative;
    }
    .select-language:hover a.en{
        display: flex;
        top: 45px;
    }
    div.tr div.img, div.en div.img {
        width: 27px;
        height: 27px;
        border-radius: 50%;
        background-size: cover;
    }
    div.row {
        display: block;
        aspect-ratio: 2.4/1;
        justify-content: space-between;
        position: relative;
        width: 100%;
        margin-bottom: 7.2%;
    }div.meal {
        display: block;
        position: relative;
        width: 40%;
        height: 100%;
        z-index: 0;
    }
    div.teas{
        background-image: -webkit-linear-gradient(transparent,#333), url(/images/caylarrrr.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }div.coffies{
        background-image: -webkit-linear-gradient(transparent,#333), url(/images/kave.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }div.turkish-coffies{
        background-image: -webkit-linear-gradient(transparent,#333), url(/images/turk-kahvesi.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 85%;
    }div.cold-drinks{
        background-image: -webkit-linear-gradient(transparent,#333), url(/images/cold-drinks.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }div.snackers{
        background-image: -webkit-linear-gradient(transparent,#333), url(/images/atistirmalik.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }div.desserts{
        background-image: -webkit-linear-gradient(transparent,#333), url(/images/desserts.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }div.default{
        background-image: -webkit-linear-gradient(transparent,#333);
    }  
    div.meal div.img{
        display: flex;
        position: relative;
        width: 100%;
        padding-top: 100%;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }
    div.meal p {
        margin: 0;
        top: -17%;
        left: 4%;
        display: flex;
        position: relative;
        font-weight: 600;
        font-size: 4.5vw;
        text-wrap: nowrap;
        color: rgba(255, 255, 255, .85);
        width: 100%;
        align-items: center;
    }
    div.left {
        position: absolute;
        left: 6%;
    }
    div.right {
        position: absolute;
        right: 6%;
    }div.bottom{
        position: relative;
        height: 4pc;
        width: 100%;
    }
}
@media (min-width: 626px) {
    html, body{
        width: 100%;
        margin: 0;
        margin-bottom: 0;
        padding: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: relative;
    }
    .main {
        top: 0;
        position: relative;
        width: 600px;
        height: 100%;
        background-color: black;
        left: 50%;
        transform: translate(-50%);
    }
    label.menu {
        width: 60px;
        display: block;
        position: absolute;
        z-index: 3;
        transition: 300ms width;
    }.content {
        width: 0;
        height: 100%;
        justify-content: center;
        color: whitesmoke;
        background-color: 	black;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 1;
        transition: 300ms width;
        visibility: hidden;
    }.content div div h2{
        margin: 0;
        position: absolute;
        left: 20px;
        top: 7px;
    }.content .header{
        display: flex;
        width: 100%;
        height: 100px;
        align-items: center;
        position: relative;
    }.content .history , .markets, .contact{
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .content .header .logo{
        visibility: visible;
        height:55px;
        width: 55px;
        margin: 10px;
        background-image: url(/images/logo.svg);
        background-color: whitesmoke;
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: border-box;
    }.content .history .h2{
        position: absolute;
        top: 10px;
        font-size: 24px;
        font-style: bold;
        font-weight: 700;
    }.content .markets .h2{
        position: absolute;
        top: 10px;
        font-size: 24px;
        font-style: bold;
        font-weight: 700;
    }.content .contact .h2{
        position: absolute;
        top: 10px;
        font-size: 24px;
        font-style: bold;
        font-weight: 700;
    }.content div p{
        margin: 0;
        position: absolute;
        bottom: 7px;
        left: 20px;
        visibility: hidden;
    }.markets p{
        font-style: italic;
    }.p a{
        margin: 0;
        position: absolute;
        bottom: 7px;
        left: 20px;
        visibility: hidden;
        color: whitesmoke;
    }
    .content .history:hover,.contact:hover {
        height: 75px;
    }.content .markets:hover{
        height: 100px;
    }.content div:hover p{
        visibility: visible;
    }.content div:hover a{
        visibility: visible;
    }
    .row-line {
        position: relative;
        width: 100%;
        top: 0px;
        background-color: rgba(255, 255, 255, .3);
        height: 1px;
    }
    div.button {
        display: block;
        width: 45px;
        height: 40px;
        top: 10px;
        right: 0px;
        background-color: none;
        position: absolute;
        z-index: 3;
        transition: 300ms all;
        span, span::before, span::after{
            transition: 120ms all;
            content: '';
            display: block;
            height: 8px;
            width: 100%;
            background: whitesmoke;
        }
        span {
            border-radius: 5px;
            transform: translateY(16px);
            &::before {
                position: absolute;
                bottom: 16px;
                border-radius: 5px;
            }
            &::after {
                position: absolute;
                top: 16px;
                border-radius: 5px;
            }
        }

    }
    input#menu-toggle {
        display: none;
    }
    #menu-toggle{
        &:checked + .menu{
            span {
                background: transparent ;
                &::before {
                    transform: rotate(45deg);
                    bottom: 0;
                }
                &::after {
                    transform: rotate(-45deg);
                    top: 0;
                }
            }
        }
    }
    input#menu-toggle:checked + label.menu {
        width: 80%;
        height: 0;
    }
    input#menu-toggle:checked + label.menu div.button {
        top: 10px;
        right: 10px;
    }
    input#menu-toggle:checked + label.menu + div.content{
        visibility: visible;
        width: 80%;
        height: 750px;
    }
    .mark {
        display: grid;
        grid-template-columns: 43% 2% 55%;
        position: absolute;
        left: 50%;
        top: 5px;
        font-size: 30px;
        font-weight: 700;
        line-height: 50px;
        transform: translate(-50%);
    }
    .logo{
        height: 45px;
        width: 45px;
        background-image: url(/images/logo.svg);
        background-color: whitesmoke;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo, .mark-name {
        background-color: none;
        color: whitesmoke;
    }
    .select-language {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        width: 90px;
        height: 50px;
        background-color: white;
        border: none;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
        right: 15px;
        top: 5px;
        transition: .1s height;
    }div.tr, div.en  {
        display: flex;
        align-items: center;
        color: black;
        height: 45px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
    }
    div.en {
        display: none;
    }
    a.en {
        display: none;
        position: absolute;
        width: 90px;
        height: 50px;
        top: 50px;
        color: black;
    }
    .select-language:hover {
        height: 100px;
    }
    .select-language:hover div.en{
        display: flex;
        position: relative;
    }
    .select-language:hover a.en{
        display: flex;
        top: 50px;
    }
    div.tr div.img, div.en div.img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-size: cover;
    }div.row {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 10%;
    }
    div.meal {
        display: inline-block;
        position: relative;
        height: 225px;
        width: 225px;
        z-index: 0;
    }
    div.teas{
        background-image: -webkit-linear-gradient(transparent,#333), url(/images/caylarrrr.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }div.coffies{
        background-image: -webkit-linear-gradient(transparent,#333), url(/images/kave.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }div.turkish-coffies{
        background-image: -webkit-linear-gradient(transparent,#333),url(/images/turk-kahvesi.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 85%;
    }div.cold-drinks{
        background-image: -webkit-linear-gradient(transparent,#333), url(/images/cold-drinks.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }div.snackers{
        background-image: -webkit-linear-gradient(transparent,#333), url(/images/atistirmalik.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }div.desserts{
        background-image: -webkit-linear-gradient(transparent,#333), url(/images/desserts.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }div.default{
        background-image: -webkit-linear-gradient(transparent,#333);
        background-color: gray;
    }
    div.meal div.img{
        display: flex;
        position: relative;
        width: 100%;
        padding-top: 100%;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }
    div.meal p{
        margin-top: -35px;
        font-size: 23px;
        font-weight: 500;
        display: flex;
        position: relative;
        text-wrap: nowrap;
        color: rgba(255, 255, 255, .85);
        width: 100%;
        left: 10px;
        align-items: center;
    }  
    div.left {
        left: 20%;
    }
    div.right {
        right: 20%;
    }div.bottom{
    position: relative;
    height: .30pc;
    width: 100%;
    }
}