# IDE - VSCode
.vscode/*
!.vscode/settinga.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# img
*.jpg
*.png
/imgages/

# sounds
*.mp4

# packages

# log
*.log

# special files
/.lastlogin
/.htaccess